body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.giannis-btn{
  background-color: rgb(179, 89, 0);
  border-color: rgb(179, 89, 0);
}
.giannis-btn:hover{
  background-color: rgb(153, 77, 0);
  border-color: rgb(153, 77, 0);
}
.mainmenu{
  background-color: rgb(255, 191, 128);
}
.logolink{
  color: white;
}
.logolink:hover{
  color: white;
}
.home{
  color: white;
}
.home:hover{
  color: white;
}
.recipes{
  color: white;
}
.recipes:hover{
  color: white;
}
.about{
  color:white;
}
.about:hover{
  color: white;
}

.card{
  border-color: white;
}

nav {
  &.primary-navigation {
    margin: 0 auto;
    display: block;
  
    padding: 120px 0 0 0;  
    text-align: center;
    font-size: 16px;

    ul li {
      list-style: none;
      margin: 0 auto;
      border-left: 2px solid #3ca0e7;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: arvo;
    }

    li a {
      color: black;
    }

    li a:hover {
      color: #3ca0e7;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
padding-left: 0;
      left: 0;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  }
}

a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }
 
}

 ul li ul li a { transition: all 0.5s ease; }

